.quanbu{
	position: relative;
   margin:0 auto;
   width: 1000px;
  
}
.daohang
{
	position: absolute;
	top: 150px;
	left: 0px;
	width: 1000px;
}
.zhenglou
{
	position: absolute;
	top:225px;
	left: 170px;
	width: 660px;
}
.louceng
{
	position: relative;
	top:0px;
	left: 0px;
	width: 660px;
	height: 240px;
	background-color: #FFFFFF; 
}

.xiangkuang
{
	position: absolute;
	top: 10px;
	left: 35px;
	width: 170px;

}
.biaoge
{
	position: absolute;
	top:15px;
	left: 230px;
	width: 370px;
	height: 160px;
	
	
}
.kongbai
{
	position: absolute;
	top: 26px;
	left: 52px;
	width: 130px;
	height:170px;
	background-color: #FFFFFF; 
}
.yema
{
	position: relative;
	top: 0px;
	left: 100px;

}
.loukongbai
{
	position:relative;height:25px;width: 660px;
}