.htp{position: relative;
    left:5px; 
    top:5px; 
    border:5px solid #6495ED;
    cursor:pointer;}
.hl{
    position: absolute;
    left: 0px;
    top: 204px;
    cursor: pointer;
    width: 344px;
    height: 457px;
}

.sl{
    position: absolute;
    left: 359px;
    top: 204px;
    cursor: pointer;
    width: 220.5px;
    height: 142.3px;
}

.cl{
    position: absolute;
    left: 594.5px;
    top: 204px;
    cursor: pointer;
    width: 220.5px;
    height: 142.3px;
}

.shl{
    position: absolute;
    left: 359px;
    top: 361.3px;
    cursor: pointer;
    width: 142px;
    height: 142.3px;
}

.col{
    position: absolute;
    left: 516px;
    top: 361.3px;
    cursor: pointer;
    width: 142px;
    height: 142.3px;
}

.Pl{
    position: absolute;
    left: 673px;
    top: 361.3px;
    cursor: pointer;
    width: 142px;
    height: 142.3px;
}

.Tl{
    position: absolute;
    left: 359px;
    top: 518.6px;
    cursor: pointer;
    width: 142px;
    height: 142.4px;
}

.Jl{
    position: absolute;
    left: 516px;
    top: 518.6px;
    cursor: pointer;
    width: 142px;
    height: 142.4px;
}

.Al{
    position: absolute;
    left: 673px;
    top: 518.6px;
    cursor: pointer;
    width: 142px;
    height: 142.4px;
}
.Cel{
    position: absolute;
    left: 877px;
    top: 230px;
    width: 121px;
    height: 409px;
}

.d {
    font-size: 20px;
    position: absolute;
    top: 692px;
    left:300px;
}
.zhuce{
    font-size:15px;
    position: absolute;
    top: 20px;
    right: 5%; 
}
.denglu{
    font-size:15px;
    position: absolute;
    top: 20px;
    right: 10%; 
}
.biao{
	position: absolute;
	left: 14px;
	top: 67px;
	width: 287px;
	height: 158px;
}
.buchonghtp{
    position:absolute; 
    left:247px; 
    top:199px; 
    width: 344px;
    height: 457px;
    border:5px solid #6495ED;
    cursor:pointer;
}
.buchonghl{
    position: absolute;
    left: 252px;
    top: 204px;
    cursor: pointer;
    width: 344px;
    height: 457px;
}
.ceshi{
    position: absolute;
    left:15%;
}
.quanbu{
    position: relative;
   margin:0 auto;
   
    width:998px;
    
     
    
}
.red{
    color: red;
    display: none;
}
